
{{> header }}

<h1>Τμήματα</h1>

{{> show_flash_messages }}

<div class="row">
  <div class="col-md-4 lead">Όλα τα τμήματα</div>
  <div class="col-md-4 col-md-offset-4">
    <button class="btn btn-info pull-right" data-toggle="modal" data-target="#add_new_department_modal" type="button" id="add_new_department_btn">Προσθήκη τμήματος</button>
  </div>
</div>


<div class="row">&nbsp;</div>


{{# unless departments.length }}
<div class="row">
    <div class="col-md-4">Δεν υπάρχουν τμήματα</div>
</div>
{{/unless}}

<div class="row">

  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Όνομα</th>
          <th>Διευθυντής</th>
          <th>Σύνολο Αδειών</th>
          <th>Αριθμός υπαλλήλων</th>
          <th>Αργίες
            <button type="button"
              class="btn btn-xs btn-link"
              data-content="Αν οριστεί ΝΑΙ, οι υπάλληλοι του τμήματος έχουν Αργίες επιπλέον του Συνόλου Αδειών τους"
              data-placement="top"
              data-toggle="popover"
              data-trigger="focus hover"
            >
              <span class="fa fa-question-circle"> </span>
            </button>
          </th>
          <th>Σταδιακή συγκέντρωση αδειών
            <button type="button"
              class="btn btn-xs btn-link"
              data-content="Αν οριστεί ΝΑΙ, το Σύνολο Αδειών αρχίζει να συσσωρεύεται από την πρώτη μέρα εργασίας, ανάλογα με την ετήσια δικαιούχο. Π.χ. υπάλληλος στον ένατο μήνα εργασίας θα έχει συγκεντρώσει 9/12 του ετήσιου Συνόλου Αδειών."
              data-placement="top"
              data-toggle="popover"
              data-trigger="focus hover"
            >
              <span class="fa fa-question-circle"> </span>
            </button>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each departments}}
        <tr data-vpp-department-list-mode="readonly">
          <td><a href="/settings/departments/edit/{{this.id}}/" data-vpp-department-name=1>{{this.name}}</a></td>
          <td><a href="/users/edit/{{this.boss.id}}/">{{# with this.boss }}{{this.full_name }}{{/with}}</a></td>
          <td>
            {{#each ../allowance_options}}{{#if_equal this.value ../allowance}}{{caption}}{{/if_equal}}{{/each}}
          </td>
          <td><a href="/users/?department={{ this.id }}">{{this.users.length}}</a></td>
          <td>{{# if this.include_public_holidays }}Ναι{{/if}}</td>
          <td>{{# if this.is_accrued_allowance }}Ναι{{/if}}</td>
          <td><a href="/settings/departments/edit/{{this.id}}/" class="btn btn-link btn-xs pull-right"><span class="fa fa-chevron-right"></span></a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</div>

{{> add_new_department_modal
  container_id='add_new_department_modal'
  form_action='/settings/departments/'
}}

{{> footer }}
